# --- Framework principal ---
fastapi==0.115.0
uvicorn==0.30.1
python-multipart==0.0.9
python-dotenv==1.0.1

# --- Inteligencia Artificial / Machine Learning ---
tensorflow==2.20.0
scikit-learn==1.5.1
numpy==1.26.4

# --- Procesamiento de imágenes ---
opencv-python==4.10.0.84
Pillow==10.4.0

# --- Visualización ---
matplotlib==3.9.2
seaborn==0.13.2
